<%- include('../includes/head.ejs') %>
<link rel="stylesheet" href="/css/login.css">

</head>

<body>
    <main>
        <div class="text-logo">
            <h1>journal</h1>
            <span> remember your experiences</span>
            <div>
                <hr/>
                <span>O</span>
                <hr/>
            </div>
        </div>
        <% if (errorMessage) { %> 
            

            <p><%= errorMessage %> </p>
            
        <% } %>
        
        <form action="/" method="POST">
            <div class="form-control">
                <label for="email"></label>
                <input 
                    type="email" 
                    name="email" 
                    id="email" 
                    placeholder="Email"
                    value="<% if (oldInput) { %><%= oldInput.email %><% }%>"
                    >
            </div>
            <div class="form-control">
                <label for="password"></label>
                    <input 
                    placeholder="Password"
                    type="password" 
                    name="password" 
                    id="password" 
                    value="<% if (oldInput) { %><%= oldInput.password %><% } %>"
                    >
            </div>
            <!-- <input type="hidden" name="csrf" value="" > -->
            <div class="form-control forgot">
                
                <a href="/reset">Forgot your login details?</a>
            </div>
            <button class="btn" type="submit">Log In</button>
        </form>
        <div class="centered account">
            <h3>Don't have an account?<a href="/signup">Sign Up</a></h3>
        </div>
    </main>
<%- include('../includes/end.ejs') %>
