<%- include('../includes/head.ejs') %>
<link rel="stylesheet" href="/css/login.css">

</head>

<body>
    <main>
        <div class="centered">

            <div class="text-logo ">
                <h1>Journal</h1>
            <span> remember your experiences</span>
            <div class="line">
                <hr/>
                <span>O</span>
                <hr/>
            </div>
        </div>
    </div>
     

        
        <form action="/new-password" method="POST">
            <div class="form-control">
                <h2>New Password</h2>
                <label for="password"></label>
                    <input 
                    placeholder="Password"
                    type="password" 
                    name="password" 
                    id="password" 
                    >
            </div>

            <input type="hidden" name="id" value="<%= id %>" >
            <input type="hidden" name="passwordToken" value="<%= passwordToken %>" >
            <button class="btn" type="submit">Update Password</button>
            <input type="hidden" name="_csrf" value="<%= csrf %>">

        </form>

    </main>
<%- include('../includes/end.ejs') %>
