<%- include('../includes/head.ejs') %> 
<link rel="stylesheet" href="/css/signup.css">

</head>
<body>
    
    
    <main>
        <div class="centered">

            <div class="text-logo">
                <h1>Journal</h1>
            <span> remember your experiences</span>
            <div class="line">
                <hr/>
                <span>O</span>
                <hr/>
            </div>
        </div>
    </div>
        
        <% if (errorMessage) { %> 
            

            <p><%= errorMessage %> </p>
            
            <% } %>
            
            
        
        <form   action="/signup" method="POST">

                        <div class="form-control">
                            
                            <label for="userName">
                                Username
                                
                                <input type="userName" required name="userName" id="userName" placeholder="David"  value="<% if (oldInput) { %><%= oldInput.userName %><% } %>" >
                            </label>
                        </div> 
 
                        <div class="form-control">

                            <label for="email">
                                E-mail
                                
                                <input type="email" required name="email" id="email"  placeholder="kevin@Tello.com" value="<% if (oldInput) { %><%= oldInput.email %><% } %>"  >
                            </label>
                        </div> 
                        <div class="form-control">

            <label for="password">
                Password
                
                <input type="password"  required name="password"  step="0.01" id="password" value="<% if (oldInput) { %><%= oldInput.password %><% } %>">
            </label>  
        </div> 
            <div class="form-control">
                  
            <label for="confirmPassword">
                Confirm Password
                
                <input type="password"  required name="confirmPassword"   id="confirmPassword" value="<% if (oldInput) { %><%= oldInput.confirmPassword %><% } %>" >
            </label>
            </div> 
            <div class="form-control">

            <p>Genre </p>
            <div>
                <input type="radio" id="male" name="genre" value="male"
                       checked>
                <label for="male">Male</label>
              </div>
              
              <div>
                <input type="radio" id="female" name="genre" value="female">
                <label for="female">Female</label>
              </div>
              </div>
                   
                    
            <button class="btn" type="submit"> Sign Up </button>
            <input type="hidden" name="_csrf" value="<%= csrf %>">

                
                
        </form>
        <p class='centered' > You have an account? <a href="/"> Log In</a> </p>
    </main>
    
    <%- include('../includes/end.ejs') %> 