<%- include('../includes/head.ejs') %>
<link rel="stylesheet" href="/css/feed.css">

</head>

<body>

    <main>
        <%- include('../includes/title.ejs') %>

        <h2>Know  people that love to write their own journal</h2>

        <% users.forEach(user => { %>
            <div class="user">
                <a class="user-head" href="/journal/feed/<%= user._id %>">
                    <div class="user-img">
                        <img src="<% if (user.imageUrl) { %>
                            <%= user.imageUrl %> 
                            <% } else { %>https://picsum.photos/500<% } %>"  alt="profile">
5
                    </div>
                    <div class="user-title">
                        <h2><%= user.userName %> </h2>
                    </div>

                </a>
                <div class="user-body">
                    <p>

                        <%= user.aboutMe %> 
                    </p>
                </div>
            </div>
         
        <% }) %>
       
    </main>
    <%- include('../includes/navigation.ejs') %>

<%- include('../includes/end.ejs') %>