<%- include('../includes/head.ejs') %>
<link rel="stylesheet" href="/css/form.css">
<link rel="stylesheet" href="/css/profile.css">

</head>

<body>

    <main>
        <%- include('../includes/title.ejs') %>

        <h1><%=user.userName %></h1>
        <h2><%=user.email %></h2>
        <div class="card__image">
            <img src="/<%= user.imageUrl %>" alt="profile">
        </div>
        <div class="p-info">
             <% if (!user.aboutMe) { %>
                Add about you
                
                <% } else  { %>
                    <%= user.aboutMe %>
                
                <% } %>
                <div class="editt">
                    
                    <a href="/edit-profile">Edit</a>    
                </div>
                <form class="form-control centered" action="/logout" method="post">
                    <button  type="submit" class="btn logout">  Logout</button>
            </form>
 
        
        
        
    </main>
    <%- include('../includes/navigation.ejs') %>

<%- include('../includes/end.ejs') %>