<%- include('../includes/head.ejs') %>
</head>

<body>
    
    <main>
        <%- include('../includes/title.ejs') %>
        <h3>home</h3>
        <%- include('../includes/filter.ejs') %>
       
    </main>
    <%- include('../includes/navigation.ejs') %>

<%- include('../includes/end.ejs') %>
