<%- include('../includes/head.ejs') %>
<link rel="stylesheet" href="/css/form.css">
<link rel="stylesheet" href="/css/home.css">

</head>

<body>
    
    <main>
        <%- include('../includes/title.ejs') %>
        <h3 class="">home</h3>
        <%- include('../includes/filter.ejs') %>
        <div class="journal">
            <div class="journal-day">
                <div class="joural-day-title">
                    <h3>El gran dia</h3>
                    <div class="journal-info">

                        <span class="place">Guayaquil</span>
                        <span>   -   </span>
                        
                        <span class="date">20 April</span>
                    </div>
                </div>
                <div class="journal-topic">

                    <h4>normal</h4>
                    <p>
                        este  dia  termine todo mis debres (exemple) ndsjsjns  sjsjsjjs jsjj sjjjjjjjs jjs jsj s sj sjjjjs  ssjs 
                    </p>
                </div>
                <div class="journal-topic">

                    <h4>normal</h4>
                    <p>
                        este  dia  termine todo mis debres (exemple) ndsjsjns  sjsjsjjs jsjj sjjjjjjjs jjs jsj s sj sjjjjs  ssjs 
                    </p>
                </div>
                <div class="journal-topic">

                    <h4>normal</h4>
                    <p>
                        este  dia  termine todo mis debres (exemple) ndsjsjns  sjsjsjjs jsjj sjjjjjjjs jjs jsj s sj sjjjjs  ssjs 
                    </p>
                </div>
                <div class="journal-topic">

                    <h4>normal</h4>
                    <p>
                        este  dia  termine todo mis debres (exemple)
                    </p>
                </div>
                <div class="action centered">
                    <a class="btn-a " href="/journal/register"> Edit</a>
                </div>
                
            </div>

<!-- only for view purpose -->



            <div class="journal-day">
                <div class="joural-day-title">
                    <h3>El gran dia</h3>
                    <div class="journal-info">

                        <span class="place">Guayaquil</span>
                        <span>   -   </span>
                        
                        <span class="date">20 April</span>
                    </div>
                </div>
                <div class="journal-topic">

                    <h4>normal</h4>
                    <p>
                        este  dia  termine todo mis debres (exemple)
                    </p>
                </div>
                <div class="journal-topic">

                    <h4>normal</h4>
                    <p>
                        este  dia  termine todo mis debres (exemple)
                    </p>
                </div>
                <div class="action centered">
                    <a class="btn-a " href="/journal/register"> Edit</a>
                </div>
                
            </div>
<!-- only for view purpose -->


        </div>
       
    </main>
    <%- include('../includes/navigation.ejs') %>

<%- include('../includes/end.ejs') %>
