<%- include('../includes/head.ejs') %>
<link rel="stylesheet" href="/css/form.css">
<link rel="stylesheet" href="/css/home.css">

</head>

<body>
    
    <main>
        <%- include('../includes/title.ejs') %>
        <%- include('../includes/filter.ejs',{pageTitle:pageTitle}) %>
        <div class="journal">
            <% sheets.forEach(sheet => { %>
                
                <div class="journal-day" 
                <% if (pageTitle =='Spiritual') { %>
                    style="border-color: rgb(15, 228, 22) ;"
                    <% } %>
                    <% if (pageTitle =='Sad') { %>
                        style="border-color: rgb(18, 8, 197) ;"
                        <% } %>
                        <% if (pageTitle =='Normal') { %>
                            style="border-color: rgb(225, 16, 16) ;"
                            <% } %>
                            <% if (pageTitle =='Learned') { %>
                                style="border-color: rgb(225, 82, 16) ;"
                                <% } %>
                                <% if (pageTitle =='Joy') { %>
                                    style="border-color: rgb(189, 228, 15) ;"
                <% } %>

                >
                    <div class="joural-day-title">
                        <h3><%= sheet.title %> </h3>
                        <div class="journal-info">
                            
                            <span class="place"><%= sheet.place %></span>
                            <span>   -   </span>
                        
                            <span class="date"> 25 April</span>
                    </div>
                </div>
                <div class="journal-topic" >

                    <% if (pageTitle =='Spiritual') { %>
                     
                        <p>
                             <%= sheet.spiritExp %>  
                            
                        </p>
                    <% } %>
                    <% if (pageTitle =='Sad') { %>
                     
                        <p>
                             <%= sheet.sadExp %>  
                            
                        </p>
                    <% } %>
                    <% if (pageTitle =='Normal') { %>
                     
                        <p>
                             <%= sheet.yourDay %>  
                            
                        </p>
                    <% } %>
                    <% if (pageTitle =='Learned') { %>
                     
                        <p>
                             <%= sheet.lessonLearned %>  
                            
                        </p>
                    <% } %>
                    <% if (pageTitle =='Joy') { %>
                     
                        <p>
                             <%= sheet.happyExp %>  
                            
                        </p>
                    <% } %>
                </div>

                   
    
                
            </div>
            <% }) %>

        </div>
       
    </main>
    <%- include('../includes/navigation.ejs') %>

<%- include('../includes/end.ejs') %>
